<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Music Library</h1>
    <p>Explore our collection of artists and albums.</p>

    <h2>Artists</h2>
    <ul>
        <% artists.forEach(function(artist) { %>
            <li>
                <a href="/?command=Artist&name=<%= encodeURIComponent(artist) %>"><%= artist %></a>
                (Albums: <%= artistAlbums[artist].length %>)
            </li>
        <% }); %>
    </ul>
</body>
</html>
